form{
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    place-content: center;
}

.input-container{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

label{
    font-size: 1.5rem;
    font-family: 'Barriecito', system-ui;
    margin: .5rem 0;
}

select{
    padding: .25rem;
    font-family: 'Barriecito', system-ui;
    accent-color: green;
}

.input-range-container{
    display: flex;
    place-items: center;
}

input[type="range"]{
    accent-color: green;
}

input[type="range"] + span{
    font-family: 'Barriecito', system-ui;
}