*{
    box-sizing: border-box;
}

body{
    background-color: hsl(0, 20%, 10%);
    color: white;
}

@font-face {
    font-family: 'Barriecito';
    src: url('fonts/Barriecito/Barriecito-Regular.ttf');
}


.button{
    font-family: 'Barriecito', system-ui;
    padding: .5rem 1rem;
    box-shadow: 0 0 .5rem .15rem green;
    text-transform: uppercase;
    font-weight: 800;
    border-radius: 5px;
    border: 1px solid #bbb;
    cursor: pointer;
}

.button:hover{
    border: 1px solid green;
    transform: scale(.9);
    transition: all ease-in-out .5s;
    box-shadow: 0 0 .5rem .08rem white;
}

.button-green{
    color: green;
}

.button-green:hover{
    color: white;
}
